* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montagu Slab", serif;
  background: lightgrey;
}
.banner {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}
h1 {
  padding-top: 50px;
  font-size: 60px;
  font-weight: 500;
}
img {
  display: block;
  display: inline-block;
  width: 500px;
}
hr {
  border: 1px solid gray;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  padding: 3px;
  align-content: center;
}

/*---company model---*/
.companymodel {
  padding: 20px 0 20px 0;
  text-align: center;
  font-weight: 600;
}

/* --nav-- */
.nav {
  padding-top: 40px;
  padding-left: 120px;
}
a {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  color: #444;
  width: 18%;
}
a:hover {
  color: orange;
}
ul {
  list-style-type: none;
}
li {
  float: left;
  width: 25%;
}
